<html>
	<head>
		<title>Performance Statistics</title>
		<style>
			body {
				font-family: 'Arial';
				display: grid;
				grid-template-columns: 25% 75%;
			}

			ul {
				list-style: none;
			}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="domain-management">Domain Management</a></li>
				<li><a href="configure">Crawl Settings</a></li>
			</ul>
		</nav>
		<main>
			<h1>Performance Statistics</h1>
			<p>Total Pages Found {{totalPages}}</p>
			<p>Total Pages Processed {{processedPages}}</p>
			<p>Last Run Time {{lastRun}}</p>
			<p>Max Javascript Usage on Page {{maxJs.display_bytes}}, <a href="{{maxJs.url}}">{{maxJs.url}}</a></p>
			<p>Average Javascript Usage on Page {{averageJs}}</p>
			<p>Max CSS Usage on Page {{maxCss.display_bytes}}, <a href="{{maxCss.url}}">{{maxCss.url}}</a></p>
			<p>Average CSS Usage {{averageCss}}</p>
			<p>Max HTML document size {{maxHtml.display_bytes}}, <a href="{{maxHtml.url}}">{{maxHtml.url}}</a></p>
			<p>Average HTML document size {{averageHtml}}</p>
		<main>
	</body>
</html>
