<html>
	<head>
		<title>Settings</title>
		<style>
			body {
				font-family: 'Arial';
				display: grid;
				grid-template-columns: 25% 75%;
			}

            ul {
				list-style: none;
			}
		</style>
		<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="performance">Performance Statistics</a></li>
                <li><a href="domain-management">Domains Configuration</a></li>
			</ul>
		</nav>
		<main>
			<h1>Configuration</h1>
			<div>
				Hello world
			</div>
		<main>
	</body>
</html>
